{
  "openapi": "3.0.1",
  "info": {
    "title": "SafeDelete API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://usw1.dm1-us.informaticacloud.com/saas/api"
    }
  ],
  "paths": {
    "/objects/{objectId}": {
      "get": {
        "summary": "Get object details",
        "parameters": [
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete object",
        "parameters": [
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Object deleted successfully",
            "content": {}
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ObjectDetails": {
        "type": "object",
        "properties": {
          "sourceControl": {
            "type": "object",
            "properties": {
              "linked": {
                "type": "boolean"
              }
            }
          },
          "objectId": {
            "type": "string"
          },
          "objectName": {
            "type": "string"
          }
        }
      }
    }
  },
  "x-original-swagger-version": "2.0"
}